html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    font-family: $primary-font;
    color: $primary-color;
  }
  
  body{
    text-align: center;
  }
  
  *, *::before, *::after { box-sizing: border-box }
  header{
      height: 30vh;
      margin: 0;
      padding: 0;
  }